@media (max-width: 600px) {
  .site-footer {
    justify-content: space-evenly;
  }
  .footer-column {
    flex: 1 1 100%;
    margin: 10px 0;
    text-align: center;
    margin-bottom: 0;
  }

  .footer-column h3 {
    font-size: 1rem;
  }

  .footer-column p,
  .footer-column a {
    font-size: 0.9rem;
  }

  .social-icons img {
    width: 20px;
    height: 20px;
  }
  .play-store {
    position: static; /* or relative if needed */
    margin: 20px auto 0 auto; /* centers it with spacing */
    padding: 10px;
    width: auto; /* allow natural width */
    text-align: center;
  }

  .footer-bottom {
    font-size: 0.85rem;
  }
}
