.slider-container {
  width: 100%;
  max-width: 900px;
  margin: auto;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  font-family: "Inter", sans-serif;
}

.testimony {
  display: none;
  text-align: center;
  transition: opacity 0.5s ease-in-out;
  background-color: rgba(131, 161, 180, 0.3);
  border-radius: 20px;
}

.testimony.active {
  display: block;
}

.testimony h2 {
  z-index: 20;
  margin-bottom: 10px;
  color: #333;
}
.testimony h3 {
  z-index: 20;
  font-style: italic;
}

.testimony p {
  z-index: 20;
  font-size: 16px;
  color: #000000;
  font-weight: 700;
  font-style: italic;
}

.dots {
  text-align: center;
  margin-top: 15px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}
